@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
/* index.css أو App.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');



/*  */

body, #root {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('/bgMenu.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

 
.font-sansita {
  font-family: 'Sansita', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}
.font-poppins {
  font-family: 'Poppins', sans-serif;
}
.font-sansation {
  font-family: 'Sansation', sans-serif;
}


/* لون الدوت العادي */
.mobile-reviews .slick-dots li button .dot {
  background: rgba(255, 255, 255, 0.3);
}

/* لون الدوت اللي واقف عليها */
.mobile-reviews .slick-dots li.slick-active button .dot {
  background: #E2462B !important;
  width: 20px !important;
}
